* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

nav {
  position: fixed;
  padding: .5rem;
  background-color: #F6DFD4;
  top: 0;
  left: 0;
  right:0;
}

/* remove list bullets */
nav ul {
  list-style-type:none;
}

/* nav display horizontal */
nav ul li {
  display:inline;
  padding: 1rem;
}

h1 {
  padding-top: 4rem;
  padding-bottom: 3rem;
  text-align: center;
  font-size: 2.5rem;
}

main {
  background-color: #F6DFD4;
  max-width: 800px;
  margin: 0 auto;
}

h2, h3 {
  text-align: center;
  font-size: 1.3rem;
  padding: 1rem;
}

p {
  text-align: center;
  padding-bottom: 1rem;
}

footer {
  background-color: grey;
}
